<!doctype html>
<html>
<head>
	<title>Vue Practice</title>
	<!--<script src="https://cdn.jsdeliver.net/npm/vue"></script> -->
    <script src="/vue.js"></script>
</head>
<body>
	<a href="/">go to root</a>
    <div id="app">
        <a v-if="flag">두잇 Vue js</a>
        <ul>
            <li v-for="system in systems">{{ system }}</li>
        </ul>
        <p v-show="flag">두인 vue.js </p>
        <h5 v-bind:id="uid">뷰 입문서</h5>
        <button v-on:click="popupAlert">경고창 버튼</button>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                flag: true,
                systems: ['android', 'ios', 'window'],
                uid: 10
            },
            methods: {
                popupAlert: function(){
                    // this.flag = false;
                    return alert('경고 창 표시');
                }
            }
        });
    </script>
</body>
</html>
